h5py
imageio
matplotlib
numpy
tqdm
torch == 1.13.1+cu117
torchvision == 0.14.1+cu117
torchtext
torchdata
-f https://download.pytorch.org/whl/torch_stable.html
cuda-python
nvidia-pyindex
--extra-index-url https://pypi.ngc.nvidia.com
nvidia-cuda-runtime-cu12
jupyter
notebook
h5py